<%= form_for [@question, @answer], remote: true, :html => { :id => "new_answer" } do |f| %>
  <div class="form-group">
    <%= f.label :response, "Answer" %><br>
    <%= f.text_area :response %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :question_id, value: @question.id %>
  </div>
  <%= f.submit "Post", :class => "btn btn-primary" %>
<% end %>
